:root {
  --font-color: #664566;
  --primary-dark: #40343f;
  --primary-light: #fdfaf6;
  --primary-medium: #faf1e6;
  --secondary-medium: #ffc074;
  --secondary-dark: #463f3a;
  --secondary-light: #f3f4ed;
  --gradient: linear-gradient(0deg, #f2cc8f 0%, #fefee3 35%, #f1f6f9 100%);
  --box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.527);
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Dancing Script", cursive;
  --transition: all 0.5s ease-in-out;
  --radius: 0.5rem;
  --spacing: 0.25rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--primary-font);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  font-family: var(--primary-font);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--font-color);
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--primary-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  background-color: var(--primary-medium);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.container {
  width: 300px;
  height: 400px;
  background-color: var(--primary-light);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

p {
  font-size: 0.9rem;
}

.card {
  width: 100%;
  height: 100%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.image {
  position: relative;
  opacity: 1;
  width: 100%;
  height: 50%;
  background-position: center;
  background-size: cover;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.info {
  width: 100%;
  padding: 1rem 2rem;
}

.personal {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
h3 {
  white-space: nowrap;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}
.animated {
  background: linear-gradient(100deg, #ecd7e8, white, #ecd7e8);
  color: transparent;
  -webkit-animation: 1.5s movingBG linear infinite;
  animation: 1.5s movingBG linear infinite;
  background-size: 200% 100%;
}

@-webkit-keyframes movingBG {
  to {
    background-position-x: -200%;
  }
}

@keyframes movingBG {
  to {
    background-position-x: -200%;
  }
}
/*# sourceMappingURL=styles.css.map */
