:root {
  --font-color: #f1f6f9;
  --primary-dark: #22577a;
  --primary-light: #f1f6f9;
  --primary-medium: #38a3a5;
  --secondary-medium: #57cc99;
  --secondary-dark: #1b1a17;
  --secondary-light: #f3f4ed;
  --gradient: linear-gradient(0deg, #f2cc8f 0%, #fefee3 35%, #f1f6f9 100%);
  --box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.527);
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Dancing Script", cursive;
  --transition: all 0.3s ease-in-out;
  --radius: 1.5rem;
  --spacing: 0.25rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--primary-font);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  font-family: var(--primary-font);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  color: var(--primary-dark);
}

.main-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bali {
  width: 150%;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(20%, #57cc995b),
      to(#1b1a17)
    ),
    url("../img/the-village-1822441_1920.jpg") center/cover no-repeat;
  background: linear-gradient(#57cc995b 20%, #1b1a17 100%),
    url("../img/the-village-1822441_1920.jpg") center/cover no-repeat;
}

.lombok {
  width: 50%;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#38a3a56c),
      to(#1b1a17b9)
    ),
    url("../img/volcano-5734404_1920.jpg") center/cover no-repeat;
  background: linear-gradient(#38a3a56c, #1b1a17b9),
    url("../img/volcano-5734404_1920.jpg") center/cover no-repeat;
}

.page {
  position: relative;
  width: 50vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.page::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.178);
  position: absolute;
}

h1 {
  color: var(--primary-light);
  font-family: var(--secondary-font);
  font-size: 6rem;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.61);
  z-index: 2;
}

.btn {
  z-index: 2;
  background-color: transparent;
  font-family: var(--primary-font);
  font-size: 1.2rem;
  color: var(--font-color);
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--primary-light);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.btn:hover {
  background-color: #1b1a17a8;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=styles.css.map */
